.Photo {
  height: 300px;
  width: 250px;
  box-sizing: border-box;
  padding: 5px;
  margin:  5px auto;
  border: 1px solid black;
  border-radius: 5px; 
  text-align: center;
}

.Photo button {
  margin: 5px;
  height: 30px;
  color: white;
  background-color: blue;
}
